<div class="pb-5">
  <h3 class="text-lg font-semibold">Reviewer notes</h3>
</div>

<ul>
  <% status_and_notes.map do |status, note| %>
    <li class="mb-1">
      <span class="font-semibold"><%= status %>: </span>
      <%= note %>
    </li>
  <% end %>
</ul>
