<div class="pb-5">
  <h3 class="text-lg font-semibold">Reviewer notes</h3>
</div>

<%= select_tag "status", options_for_select(status_and_notes.keys, current_status), class: "select select-primary"%>
