<div class="mx-auto flex max-w-sm gap-4 border-2 shadow-lg p-4 pr-8 mb-8">
  <div>
    <i class="fa-solid fa-circle-exclamation fa-xl"></i>
  </div>
  <div class="flex-1 flex flex-col items-center gap-2">
    <p>Applications for our <%= active_cohort.name %> cohort are now open!</p>
    <%= link_to(
      "Click To #{cta_action_text}!",
      new_user_mentee_application_path,
      class: 'btn btn-primary btn-sm text-neutral hover:text-primary-content'
    ) %>
  </div>
</div>
