<h1>Hey <%= @recipient.full_name %>,</h1>

  <p>We’ve received your application! Thanks so much for choosing the Agency of Learning for your development journey.</p>

  <p>Our admissions crew is diving into your application and we’ll reach out to you soon.</p>
  
  <p>While you wait, feel free to <%= link_to 'explore your application', user_mentee_application_url(@user_mentee_application) %> for more educational opportunities.</p>
  
  <p>Cheers to learning and growing together!</p>

  
  <p>Best,<br>
  Your Friends at Agency of Learning</p>

  <p>If you have any questions or concerns, feel free to reply to this email. Dave's here to help!</p>