<p><%= @recipient.full_name %>,</p>

<p>Thank you for Applying to AOL.com you'll receive your dvd over the mail soon.</p>

<p>Link for your application <%= link_to "Here", user_mentee_applications_url(@user_mentee_application) %>.</p>
