<%= tag.div(id: dom_id(standup_meeting_group), class: "card card-bordered w-72") do %>
  <div class="card-body">
    <h2 class="card-title font-bold text-2xl"><%= link_to standup_meeting_group.name, standup_meeting_group_path(standup_meeting_group.id) %></h2>
    <div class="card-actions">
      <button class="btn btn-sm">Check In</button>
      <button class="btn btn-sm">Dismiss</button>
      <br>
      <%= render StandupMeetingGroup::LeaveButtonComponent.new(standup_meeting_group: standup_meeting_group, current_user: user, standup_meeting_group_user:@standup_meeting_group_user ) %>
    </div>
  </div>
<% end %>
