<%= tag.div(id: dom_id(standup_meeting_group), class: "card card-bordered w-80 shadow-md") do %>
  <div class="card-body flex flex-row p-4 gap-6">
    <div>
      <h4 class="card-title font-bold text-lg"><%= link_to standup_meeting_group %></h4>
      <%= render StandupMeetingGroup::CheckInStatusComponent.new(standup_meeting_group:, current_user: user) %>
    </div>
    <div>
      <div class="card-actions flex-col-reverse space-x-2 justify-end">
        <%= render StandupMeeting::ButtonGroupComponent.new(standup_meeting_group:, standup_meeting:, current_user: user) %>
      </div>
    </div>
  </div>
<% end %>
