<div class="p-2 border shadow-lg rounded-lg max-w-prose mx-auto flex-1">
  <div class="flex justify-between items-center">
    <%= heading(class: "text-lg") %>
    <%= render Feedback::EditButtonComponent.new(feedback:, current_user: user) %>
  </div>
  <div>
    <% if feedback.completed? %>
      <div class="p-2">
        <p><span class="font-bold">Rating:</span> <%= feedback.overall_rating %>/10</p>
      </div>
      <%= render Feedback::QuestionComponent.with_collection(questions) %>
    <% else %>
      <p class="p-4">Awaiting completion of feedback.</p>
    <% end %>
  </div>
</div>
