<div class="p-2 border shadow-lg rounded-lg max-w-prose mx-auto flex-1">
  <div class="flex justify-between items-center">
    <%= heading %>
    <% if Pundit.policy(user, feedback).edit? %>
      <%= link_to "Edit", edit_feedback_path(feedback), class: 'btn btn-primary btn-sm capitalize' %>
    <% end %>
  </div>
  <div class="p-2">
    <p><span class="font-bold">Rating:</span> <%= feedback.overall_rating %></p>
  </div>
  <%= render Feedback::QuestionComponent.with_collection(questions) %>
</div>
