<div class="border p-4 flex flex-col  justify-between mt-4">
  <span class="flex flex-col justify-center font-bold">
    <%= user_full_name %>
  </span>

  <div class="divider my-1 "></div>

  <%= tag.span(standup_content, class: "grow whitespace-pre-line") %>
  
  <%= link_to standup_meeting_sections_path(standup_meeting_id: @standup_meeting.id, section: @content_type), class: '' do %>
    <i class="fas fa-comments"></i> Comments
  <% end %>
</div>
