<% if container_link.present? %>
  <%= link_to(
    container_link,
    class: "#{classes} text-left p-2 align-middle"
  ) do %>
    <%= content %>
  <% end %>
<% else %>
  <div class="text-left p-2 align-middle <%= classes %>">
    <%= content %>
  </div>
<% end %>
