  <!-- Hero Section -->
  <div class="bg-blue-500 text-white flex justify-center items-center p-5">
      <div >
          <h1 class="text-4xl mb-4">Welcome to Our Site</h1>
          <p class="mb-4">This is the hero section. Briefly describe what the site is about.</p>
          <a href="#" class="bg-red-500 px-4 py-2 rounded">Learn More</a>
      </div>
  </div>

  <!-- Testimonial Section -->
  <div class="py-5 bg-gray-100 mt-5 mb-5">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl mb-8 text-center">Feat Devs</h2>
        <!-- Sample Testimonial Card -->
        <div class="flex flex-col gap-3 lg:flex-row lg:justify-center">
          <div class="p-2 border  rounded-lg max-w-prose mx-auto flex-1">
            <img src="https://loremflickr.com/640/360" alt="Description of Image" class="w-full h-auto rounded w-full h-auto">
          </div>
          <div class="p-2 border shadow-lg rounded-lg max-w-prose mx-auto flex-1">
            <h5 class="font-bold">Simmon</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus consectetur adipisci.
          </div>
        </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div class="py-12 mb-5">
      <div class="container mx-auto px-4">
          <h2 class="text-3xl mb-8 text-center">Section 2</h2>
          <p>Content for the section goes here.</p>
      </div>
  </div>

  <!--  Section 3 -->
  <div class="py-12 bg-gray-200 mb-5">
      <div class="container mx-auto px-4">
          <h2 class="text-3xl mb-8 text-center">Section 3</h2>
          <p>Content for this other section goes here.</p>
      </div>
  </div>

  <!-- Footer -->
  <footer class="bg-blue-500 text-white py-3">
      <div class="container mx-auto px-4">
          <p>&copy; 2023 The Agency. All rights reserved.</p>
      </div>
  </footer>