  <!-- Hero Section -->
  <div class="bg-blue-500 text-white flex justify-center items-center p-5">
      <div >
          <h1 class="text-4xl mb-4">Welcome to Our Site</h1>
          <p class="mb-4">This is the hero section. Briefly describe what the site is about.</p>
          <a href="#" class="bg-red-500 px-4 py-2 rounded">Learn More</a>
      </div>
  </div>

  <!-- Testimonial Section -->
  <div class="py-5 bg-gray-100 mt-5 mb-5">
    <div class="px-4 w-full sm:w-1/2 mx-auto">
        <h2 class="text-4xl mb-5 font-black">Agency members stand out from the crowd</h2>
        <p class=" mb-5">A small selection of our members and what they're saying about The Agency</p>
        
        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://img.brickscout.com/2e/da/40/ce/8a/c6/4f/27/b9/31/ec/93/a1/1b/c7/29/279x279.png" alt="Description of Image" class=" rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 text-xl  max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Simmon</h3>
              <p class="italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci.
              </p> 
            </div>
          </div>
        </div>

        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2F15%2Fd3%2Ff9%2F15d3f976270f83fe40bdf6153c86623f--hawk-eye-lego-marvel.jpg&f=1&nofb=1&ipt=f07d048815272a978c169689f47e42b061192f289729a9cee730bd8e9d848be4&ipo=images" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 text-xl  max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Josh</h3>
              <p class="italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci.
              </p> 
            </div>
          </div>
        </div>
        
        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.downloadclipart.net%2Flarge%2Fthe-lego-movie-png-image.png&f=1&nofb=1&ipt=b8cc3cf4e9aa51187487340d287741b39f0b9fe90f71f8c0c2d7634159286e01&ipo=images" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 text-xl  max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Daniel</h3>
              <p class="italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci.
              </p> 
            </div>
          </div>
        </div>

        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.brickowl.com%2Ffiles%2Fimage_cache%2Flarger%2Flego-red-beard-runner-buccaneer-minifigure-25.jpg&f=1&nofb=1&ipt=4d1ad155fcbc83a1af046973b265fb98b370f7a289d802c458c46d71ed81331a&ipo=images" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 text-xl  max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Simmon</h3>
              <p class="italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci.
              </p> 
            </div>
          </div>
        </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div class="py-12 mb-5">
      <div class="container mx-auto px-4">
          <h2 class="text-3xl mb-8 text-center">Section 2</h2>
          <p>Content for the section goes here.</p>
      </div>
  </div>

  <!--  Section 3 -->
  <div class="py-12 bg-gray-200 mb-5">
      <div class="container mx-auto px-4">
          <h2 class="text-3xl mb-8 text-center">Section 3</h2>
          <p>Content for this other section goes here.</p>
      </div>
  </div>

  <!-- Footer -->
  <footer class="bg-blue-500 text-white py-3">
      <div class="container mx-auto px-4">
          <p>&copy; 2023 The Agency. All rights reserved.</p>
      </div>
  </footer>