<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <style>
  body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav {
  width: 80%;
  height: 1em;
  background-color: white;
  display: flex;
  align-items: right;
  justify-content: flex-end;

}

.nav a {
  font-size: 1.2em;
  color: black;
  padding: 5px;
  text-decoration: none;

}

.hero {
  width: 80%;
  height: 70vh;
  background-color: #38D68E;
  margin: 1.2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.logo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  border: 2px solid black;
  margin: 0 0 10px 0;
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content h1 {
  font-size: 2em;
  color: rgb(27, 26, 26);
  margin: 10px 0;
}

.content h3 {
  font-size: 1.5em;
  color: rgb(27, 26, 26);
  margin: 0 0 10px 0;
}

.link-box {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 3px;
  height: 33px;
  width: 400px;
  margin: 20px 0 10px 0;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.link-box:hover {
  transform: scale(1.05);
  transition: ease 0.2s;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.link-text {
  padding: 0 10px;
}

.chevron {
  margin-left: auto;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
  background-color: white;

}

.partners {
  width: 80%;
  height: 10vh;
  background-color: white;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.9em;
}

.placeholder {
  width: 30px;
  height: 30px;
  background-color: gray;
}
  </style>
</head>

<body>
  <div class="nav">
    <a href="#">BLOG</a>
    <a href="#">LOGIN</a>
  </div>
  <div class="hero">
    <div class="content">
      <div class="logo">A</div>
      <h1>THE AGENCY OF LEARNING</h1>
      <h3>Join our private community of highly motivated early career developers</h3>
      <div class="sections">
        <div class="link-box">
          <div class="link-text">BECOME A MEMEBER</div>
          <div class="chevron"></div>
        </div>
        <div class="link-box">
          <div class="link-text">EMPLOYERS</div>
          <div class="chevron"></div>
        </div>
        <div class="link-box">
          <div class="link-text">OUR SERVICES</div>
          <div class="chevron"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="partners">
    <div class=" placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </div>
</body>

</html>