
<div style='display: block; max-width: 36rem; margin: 0 auto; padding-top: 4rem;'>
  <p><%= @recipient.full_name %>,</p>
  <p>
    We're happy to share that we're excited to move you forward in the process! 🎉
  </p>

  <p>
    For the next step, we'd like to invite you to complete a code challenge. We expect the coding will take you about 3-4 hours.
  </p>
  <p>
    You can find the code challenge <a href="https://www.notion.so/toyhammered/Take-Home-Code-Challenge-c0acdc4e78904e0aa4d6b2933fd495bc">here on this notion document</a>.
  </p>

  <p>
    This is a chance for us to see how you approach a problem and how you communicate your thought process. 
    As part of the challenge, <strong>please include a README</strong> with your thought process and explain the technical decisions you took.
  </p>

  <p>When you're ready to submit, please fill out the information <a href="https://1fya1pduhps.typeform.com/to/QV9Hipj1">on this form.</a></p>
</div>