
<div style='display: block; max-width: 36rem; margin: 0 auto; padding-top: 4rem;'>
  <p><%= @recipient.full_name %>,</p>

  <p>
    Thank you for submitting your application to join us at the <strong>Agency of Learning</strong>!
  </p>

  <p>
    Unfortunately, we got more applicants than we could admit in this current cohort. Though we know this can feel discouraging, we strongly encourage you to <strong>reapply for the next cohort</strong>. We take into consideration the progress you've made since your last application.
  </p>

  <p>
    We'll be candid -- though we aspire to have many future cohorts, currently we are only able to support smaller cohorts. Even though we can't make any promises about being admitted on a future application, we hope that you reapply and are excited to help you as you transition into the next stage of your career.
  </p>
</div>
