
<div style='display: block; max-width: 40rem; margin: 0 auto; padding-top: 4rem; line-height: 1.33rem;'>
  <p>Hey <%= @recipient.first_name %>,</p>
  <p>
    🎉🎉🎉 I am thrilled to offer you membership to the <strong>Agency of Learning</strong>! 🎉🎉🎉
  </p>

  <p>
    To get started, please:
    <ul>
      <li>Create a <a href="https://www.discord.com/">Discord account</a>, if you don't already have one</li>
      <li>Join our discord channel here: <a href="https://discord.gg/bkpkhvjQCk">https://discord.gg/bkpkhvjQCk</a></li>
    </ul> 
  </p>

  <p>
    <strong>Some Tips</strong>
    <ol>
      <li style='margin-bottom: 0.5rem'>Introduce yourself in #introductions and update your nickname to include your time zone. For example, I'm dave @ EST. This makes it fast and easy for others to see when you're around.</li>
      <li style='margin-bottom: 0.5rem'>Join the #jobs channel. We post our job listings there and perform periodic resume review as well.</li>
      <li style='margin-bottom: 0.5rem'>Browse our tracks - #casa, #pairapp, #challenge-accepted, #contract-work, and #startups.</li>
      <li style='margin-bottom: 0.5rem'>For the <strong>#casa</strong> track: daily standups are at 11:30PT with @cody.</li>
      <li style='margin-bottom: 0.5rem'>For the <strong>#pair-app</strong> track: @daniel runs async standup, with plenty of opportunity for design and architecture discussions</li>
      <li style='margin-bottom: 0.5rem'>Find a pair programming partner and get started</li>
    </ol>
  </p>

  <p>
    <strong>How does placement work?</strong>
    <p>
      I have a small (and growing) list of hiring partners. They want to hire the best engineers of all skill levels they can get their hands on. If you'd like to be included in this list, you need to:
    </p>
    <ol>
      <li style='margin-bottom: 0.5rem'>Ship code. Either for #casa or #pair-app. We need to see your code, your communication skills, your professionalism.</li>
      <li style='margin-bottom: 0.5rem'>Read (closely) the <a href="https://docs.google.com/document/d/1zhzfbCZPGwvh19ArkCV0r-EaQrJWTldvDlgp4fzEdPg/edit#heading=h.xwnkc6bns9tw">10 things you must have in your resume</a>. Update your resume and post it in #resume-feedback.</li>
    </ol>
    <p>Once you've got a stellar resume and have some code contributions under your belt, we will begin including your information in our hiring network outreach.</p>
    <p>That's it! If you ever have feedback or questions, please feel free to DM me anytime 🙂</p>
    <p>If you have ideas on how to improve The Agency, we'd love it if you would post it in #feedback-for-the-agency. We really want this to be an amazing place.</p>
  </p>
  <p>Happy hacking!</p>
  <p>Dave Paola | <a href="https://pair.agencyoflearning.com/">The Agency of Learning</a></p>
</div>