<div style='display: block; max-width: 36rem; margin: 0 auto; padding-top: 4rem;'>
  <p><%= @recipient.full_name %>,</p>
  <p>
    We're happy to share that we're excited to move you forward in the process! 🎉
  </p>
  <p>
    For the next step, we'd like to invite you to meet with Dave Paola, Founder of the Agency of Learning.
  </p>
  <p>
    To book a time, please use this link: <a href="https://savvycal.com/davepaola/f70795af">https://savvycal.com/davepaola/f70795af</a>.
  </p>
</div>