
<div style='display: block; max-width: 36rem; margin: 0 auto; padding-top: 4rem;'>
  <p><%= @recipient.full_name %>,</p>

  <p>
    Thank you for submitting your application to join us at the <strong>Agency of Learning</strong>!
  </p>

  <p>
    Unfortunately you have not been accepted into the upcoming batch. This was a tough decision. We can't make any promises about being admitted on a future application, but we hope that you <strong>reapply for a future batch</strong>.
  </p>
</div>
