<div style='display: block; max-width: 36rem; margin: 0 auto; padding-top: 4rem;'>
  <p>Hey <%= @recipient.full_name %>,</p>

  <p>Your application for the Agency of Learning has been withdrawn.</p>

  <p>We thank you for your interest in the Agency of Learning and encourage you to reapply in the future.</p>
</div>
