<div id="<%= dom_id standup_meeting_group %>">
  <h2><%= link_to standup_meeting_group.name, standup_meeting_group %></h2>

  <p>
    <%= link_to "Edit", edit_standup_meeting_group_path(standup_meeting_group) %>
  </p>

  <hr>
</div>
