<div class="table-row odd:bg-base-100 even:bg-base-200 hover:bg-base-300 divide-x-2 divide-neutral">
    <%= render TableCellComponent.new(
      container_link: standup_meeting_group_standup_meetings_path(
        standup_meeting_group, 
        date: standup_meeting.meeting_date.strftime('%m-%d-%Y')
      )
    ) do %>
      <p><%= standup_meeting.meeting_date.strftime('%m-%d-%Y') %></p>
    <% end %>

  <%= render TableCellComponent.new(
      container_link: standup_meeting_group_standup_meetings_path(
        standup_meeting_group, 
        date: standup_meeting.meeting_date.strftime('%m-%d-%Y')
      )
    ) do %>
    <%= standup_meeting.status %>
  <% end %>
</div>