<h1>Editing pair request</h1>

<%= render "form", standup_meeting_group: @standup_meeting_group %>

<br>

<div>
  <%= link_to "Show this pair request", @standup_meeting_group %> |
  <%= link_to "Back to pair requests", standup_meeting_groups_path %>
</div>
