<% if policy(:standup_meeting_group).new? %>
  <div class="m-5">
    <div class="p-4 border-black border-2 rounded-md" id="new_standup_meeting_group">
      <%= render 'form', standup_meeting_group: StandupMeetingGroup.new %>
    </div>
  </div>
<% end %>

<div class="flex flex-col justify-center">
  <h2 class="font-bold text-3xl pl-5 text-center md:text-left">My Standups</h2>
  <div id="my-standup-meeting-groups" class="flex flex-wrap gap-5 pl-5 pt-5 pb-5 justify-center md:justify-normal">
    <%= render StandupMeetingGroup::JoinedCardComponent.with_collection(@my_standup_meeting_groups, current_user:) %>
  </div>
</div>

<div class="flex flex-col">
 <h2 class="font-bold text-3xl px-5 text-center md:text-left">Find a Standup</h2>
  <ul id="find-standup-meeting-groups" class="flex flex-col p-5">
    <%= render StandupMeetingGroup::JoinableItemComponent.with_collection(@standup_meeting_groups, my_standup_meeting_groups: @my_standup_meeting_groups, current_user:) %>
  </ul>
</div>