<% if policy(:standup_meeting_group).new? %>
  <div class="p-2 border-black border-2" id="new_standup_meeting_group">
    <%= render 'form', standup_meeting_group: StandupMeetingGroup.new %>
  </div>
<% end %>

<h1>My Standups</h1>
<div id="my-standup-meeting-groups" class="flex flex-row gap-x-5">
  <%= render StandupMeetingGroup::JoinedCardComponent.with_collection(@my_standup_meeting_groups, current_user:) %>
</div>

<h1>Find a Standup</h1>
<ul id="find-standup-meeting-groups">
  <%= render StandupMeetingGroup::JoinableItemComponent.with_collection(@joinable_standup_meeting_groups, current_user:) %>
  <%#= render partial: 'standup_meeting_group_list_item', collection: @joinable_standup_meeting_groups, as: :standup_meeting_group %>
</ul>
