<h1>Standup Meeting Groups</h1>

<%= link_to "New Standup Meeting Group", new_standup_meeting_group_path %>

<ul role="list" class="divide-y divide-gray-100">
  <%= render partial: 'standup_meeting_group_list_item', collection: @standup_meeting_groups, as: :standup_meeting_group %>
</ul>


