<h1>New Standup Meeting Group</h1>

<%= render "form", standup_meeting_group: @standup_meeting_group %>

<br>

<div>
  <%= link_to "Back to Standup Meeting Groups", standup_meeting_groups_path %>
</div>
