<div class="flex flex-row mt-4 md:mt-0 lg:mx-0 md:space-x-4">
  <% if previous_standup_meeting? %>
    <%= link_to standup_meeting_group_standup_meetings_path(
      standup_meeting_group, 
      date: previous_standup_meeting
    ), class: 'link text-primary text-lg mt-2 hidden lg:flex flex-col no-underline' do %>
      <i class="fa-solid fa-caret-left text-3xl"></i> 
      <span>
        Previous
      </span>
    <% end %>
  <% else %>
    <div class="text-lg mt-2 hidden lg:flex flex-col no-underline">
      <i class="fa-solid fa-caret-left text-3xl text-base-300 cursor-not-allowed"></i> 
      <span>
        Previous
      </span>
    </div>
  <% end %>
  <%= render StandupMeeting::DateJumperComponent.new(standup_meeting_group:, meeting_date:) %>
  <% if next_standup_meeting? %>
    <%= link_to standup_meeting_group_standup_meetings_path(
      standup_meeting_group, 
      date: next_standup_meeting
    ), class: 'hidden lg:flex link text-primary text-lg mt-2 ml-4 flex flex-col no-underline' do %>
      <i class="fa-solid fa-caret-right text-3xl"></i> 
      <span>
        Next
      </span>
    <% end %>
  <% else %>
    <div class="hidden lg:flex text-lg mt-2 flex-col no-underline">
      <i class="fa-solid fa-caret-right text-3xl text-base-300 cursor-not-allowed ml-4"></i> 
      <span>
        Next
      </span>
    </div>
  <% end %>
</div>