<div class="flex justify-between max-w-md"
       data-controller="link-builder" 
       data-link-builder-param-value='date' 
       data-link-builder-url-value="<%= base_url %>">
  <%= text_field_tag :date_jumper, nil, class: 'inline border px-4 mx-2',data: {
    controller: "flatpickr",
    flatpickr_date_format: "m-d-Y",
    flatpickr_min_date: standup_meeting_group.created_at,
    flatpickr_default_date: meeting_date,
    action: "change->link-builder#updateDestinationParams",
    link_builder_target: 'source'
    } %>
  <a href="<%= default_url %>" class="btn btn-secondary inline pt-4 mt-2" data-link-builder-target='destination'>JUMP</a>
</div>