<div class="collapse collapse-arrow border-l border-r border-b border-base-300 lg:w-1/3 lg:grid-rows-[4rem_1fr] lg:h-[50vh] space-y-2">
  <input type="checkbox" class="peer h-16" checked /> 
  <div class="collapse-title text-xl font-medium bg-primary text-primary-content h-16">
    <%= title %>
  </div>
  <div class="collapse-content overflow-scroll break-words"> 
    <%= content %>
  </div>
</div>