<div class="collapse collapse-arrow border mb-2">
  <input type="checkbox" class="peer" />
  <div class="collapse-title bg-primary text-primary-content">
    <%= standup_meeting.user.email %>
  </div>
  <div class="collapse-content text-neutral">
    <div class="flex flex-col md:flex-row justify-around space-y-4 md:space-y-0 md:space-x-4 w-full pt-2">
      <div class="flex flex-col">
        <span class="text-center font-bold">Yesterday</span>
        <%= standup_meeting.yesterday_work_description %>
      </div>
      <div class="flex flex-col">
        <span class="text-center font-bold">Today</span>
        <%= standup_meeting.today_work_description %>
      </div>
      <div class="flex flex-col">
        <span class="text-center font-bold">Blockers</span>
        <%= standup_meeting.blockers_description %>
      </div>
    </div>
  </div>
</div>

