<div class="border p-4 flex flex-col  justify-between mt-4">
  <div class="w-full mb-1 font-bold justify-center">
    <%= user.email %>
  </div>
  <div class="grow w-full">
    <%= standup_meeting.public_send(content_type) %>
  </div>
</div>


