<div class="border p-4 flex flex-col  justify-between mt-4">
  <span class="flex flex-col justify-center mr-4 font-bold">
    <%= user.full_name %>
  </span>
  <hr class="border-t border-gray-400 my-4" />
  <span class="grow">
    <%= standup_meeting.public_send(content_type) %>
  </span>
</div>