<div class="max-w-3xl mx-auto my-4 space-y-4">
  <h1 class="text-5xl font-bold text-center my-12">FAQ</h1>
  <div class="collapse collapse-arrow bg-base-200 rounded-2xl mx-4">
    <input type="checkbox" class="peer h-16" checked /> 
    <span class="collapse-title text-xl font-medium">
      What is the purpose of this app?
    </span>
    <div class="collapse-content px-8"> 
      <p>
        This tool helps junior developers who want to join the industry by creating a central place to organize programming practices in professional team settings.
      </p>
      <br/>
      <p>
        To date, we support:
        <ul class='list-disc list-inside'>
          <li>scheduling pair requests and providing feedback after pairing</li>
          <li>participating in async standups for team projects</li>
        </ul>
      </p> 
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200 rounded-2xl mx-4">
    <input type="checkbox" class="peer h-16" checked /> 
    <span class="collapse-title text-xl font-medium">
      Who would benefit from this app?
    </span>
    <div class="collapse-content px-8"> 
      <p>
        Currently, members of the Agency of Learning benefit from this app, as we use it internally to manage our team projects.
      </p>
      <p>
        However, as we develop more features, we expect to open access to other organizations who are interested in managing team practices while emphasizing mentorship for early-career developers.
      </p> 
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200 rounded-2xl mx-4">
    <input type="checkbox" class="peer h-16" checked /> 
    <span class="collapse-title text-xl font-medium">
      How do I contribute to this app?
    </span>
    <div class="collapse-content px-8"> 
      <p>
        We have open issues created on our <a class="link link-primary" href="https://github.com/agency-of-learning/PairApp/issues">Github Repo</a>. We generally prefer people who are part of the Agency of Learning to pick those up because we would like for you to work in pairs with other developers. You can submit an application to the Agency of Learning <a class="link link-primary" href="https://agencyoflearning.com/">here</a>.
      </p>
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200 rounded-2xl mx-4">
    <input type="checkbox" class="peer h-16" checked /> 
    <span class="collapse-title text-xl font-medium">
      Can I show contributions I have done to future employers?
    </span>
    <div class="collapse-content px-8"> 
      <p>
        Of course! This was the main purpose for creating this app. We want you to be able to showcase your skills and show code that is being used on a real app that other people are using.
      </p>
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200 rounded-2xl mx-4">
    <input type="checkbox" class="peer h-16" checked /> 
    <span class="collapse-title text-xl font-medium">
      What is a Design Doc and where can I view what others have written?
    </span>
    <div class="collapse-content px-8"> 
      <p>
        You can view a sample design doc that goes through the steps needed to create one <a class="link link-primary" href="https://www.notion.so/0fa06a5726c248c5b75e1c82bf094542?pvs=21">here</a>. You can view the design docs that are currently in progress and completed <a class="link link-primary" href="https://www.notion.so/Design-Docs-1db123d6f8d64cea9d4998cb1ad90c92?pvs=21">here</a>.
      </p>
    </div>
  </div>
</div>

