
<%= form_with model: @feedback, local: true do |form| %>
  <% @feedback.data['feedback'].each_with_index do |object, index| %>
    <div class="field">
      <%= form.label "data[feedback][#{index}][answer]", object['question'] %> <br>
      <%= form.text_field "data[feedback][#{index}][answer]", value: object['answer'], required: object['required'] %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
