<h3>Accepted!</h3>

<p>Congratulations, your application to join the Agency of Learning has been accepted. We are finishing up interviews with others. After this process is complete, we will contact you with an invite to join our discord.</p>
