<h3>Phone Screen</h3>

<p>We would like to schedule a zoom call with you. This call is a quick interview with one of our senior members. It will last about 30 minutes. We will have read your application and reviewed your code. The ideal call is an informal conversation about your goals and your coding journey. There will also be an opportunity for you to ask us questions as well.</p>

<p>Visit this calendly link to book a time: <%= link_to "Schedule Link", "https://savvycal.com/davepaola/f70795af", target: "_blank", rel: "nofollow", class: "link link-primary" %></p>
