<div class="hero bg-base-200">
    <div class="hero-content text-center">
    <div class="max-w-md">
        <h3 class="text-3xl font-bold">No Pair Requests</h1>
        <p class="py-6"> You have no pair requests. Create one now!</p>
    </div>
    </div>
</div>