<%= render @pair_request %>

<div>
  <%= link_to "Edit this pair request", edit_pair_request_path(@pair_request) %> |
  <%= link_to "Back to pair requests", pair_requests_path %>

  <%= button_to "Destroy this pair request", @pair_request, method: :delete %>
</div>
