<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show m-0" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% elsif notice %>
  <div class="alert alert-success alert-dismissible fade show m-0" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
<% elsif current_user && current_user.pair_request_pending_feedback.any?  %>
  <h5><%= link_to 'Feedback Needed', pair_requests_path, class:'' %></h5>
<% end %>